<h1> Welcome to the Sustainab.ly Marketplace </h1>

<h4> On the Sustainab.ly Marketplace, restaurants in our network offer </h4>
<h4> up their excess foods and organizations can claim for distribution! </h4>
<h4> It's a win-win! We LOVE win-wins!! </h4>

<% @exchanges.all.each do |exchange| %>
    <li><%= exchange.name %></li>
<% end %>
